[Desktop Entry]
Name=Volume-Icon
GenericName=Volume Control
Comment=Show desktop volume control
Exec=volumeicon
TryExec=volumeicon
Icon=multimedia-volume-control
Type=Application
Terminal=false
StartupNotify=false
Categories=GTK;AudioVideo;Audio;Mixer
